/*--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
--*/

/*-- Reset-Code --*/
	html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
	article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
	ol,ul{list-style:none;margin:0px;padding:0px;}
	blockquote,q{quotes:none;}
	blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
	table{border-collapse:collapse;border-spacing:0;}
	/* start editing from here */
	a{text-decoration:none;}
	.txt-rt{text-align:right;}/* text align right */
	.txt-lt{text-align:left;}/* text align left */
	.txt-center{text-align:center;}/* text align center */
	.float-rt{float:right;}/* float right */
	.float-lt{float:left;}/* float left */
	.clear{clear:both;}/* clear float */
	.pos-relative{position:relative;}/* Position Relative */
	.pos-absolute{position:absolute;}/* Position Absolute */
	.vertical-base{vertical-align:baseline;}/* vertical align baseline */
	.vertical-top{vertical-align:top;}/* vertical align top */
	nav.vertical ul li{display:block;}/* vertical menu */
	nav.horizontal ul li{display: inline-block;}/* horizontal menu */
	img{max-width:100%;}
/*-- //Reset-Code --*/
body{
	background:url('../../images/1.jpg') no-repeat 0px 0px;
	background-size:cover;
	background-attachment: fixed;
	overflow: hidden;
}
h1{
	color:#fff;
	font-size:50px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	text-align:center;
	margin:50px 0px;
	letter-spacing: 2px;
}
.container{
	width:65%;
	margin:50px auto;
	position: relative
}
.container h3{
	color:#fff;
	font-size:30px;
	text-align:center;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	letter-spacing:1px;
	margin-bottom:15px;
}
.centered{
	width:48%;
	margin-right:4%;
	padding: 26%;
	padding-top: 15% !important;
	position: absolute;
}
.register{
	margin-bottom:20px;
}
.register,.send-mail,.sign-in,.recover,.subscribe,.socialicons{
	width:84%;
	padding:40px;
	background:rgba(0, 0, 0, 0.38);

}
input.name {
	width: 86.5%;
	padding: 12px 10px 12px 45px;
	border: none;
	outline: none;
	border-radius: 3px;
	background: rgb(255, 255, 255) url("../../images/user.png") no-repeat 10px 10px;
	font-size: 17px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	letter-spacing: 1px;
	margin-bottom: 30px;
}

input.password {
	width: 86.5%;
	padding: 12px 10px 12px 45px;
	border: none;
	outline: none;
	border-radius: 3px;
	background: rgb(255, 255, 255) url("../../images/password.png") no-repeat 10px 10px;
	font-size: 17px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	letter-spacing: 1px;
	margin-bottom: 20px;
}
input.email {
	width: 86.5%;
	padding: 12px 10px 12px 45px;
	border: none;
	outline: none;
	border-radius: 3px;
	background: rgb(255, 255, 255) url("../../images/mail.png") no-repeat 10px 10px;
	font-size: 17px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	letter-spacing: 1px;
	margin-bottom: 20px;
}
input.location {
	width: 86.5%;
	padding: 12px 10px 12px 45px;
	border: none;
	outline: none;
	border-radius: 3px;
	background: rgb(255, 255, 255) url("../../images/location.png") no-repeat 10px 10px;
	font-size: 17px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	letter-spacing: 1px;
	margin-bottom:10px;
}
ul li input[type="checkbox"] {
	display: none;
}
ul li input[type="checkbox"]+label {
	position: relative;
	padding-left: 25px;
	border: #F0F8FF;
	color: #FFFFFF;
	display: inline-block;
	font-size: 14px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	letter-spacing:1px;
}
ul li input[type="checkbox"]+label span:first-child {
	width: 13px;
	height: 13px;
	display: inline-block;
	border: 1px solid #FFFFFF;
	position: absolute;
	top: 1px;
	left: 4px;
	bottom: 4px;
}
ul li input[type="checkbox"]:checked+label span:first-child:before {
	content: "";
	background: url(../../images/tick.png)no-repeat;
	position: absolute;
	left: 2px;
	top: 2px;
	font-size: 10px;
	width: 10px;
	height: 10px;
}
label {
    color: #e8e8e8;
}
.register  input[type="submit"] ,.send-mail input[type="submit"] {
	width:100%;
	background-color:#014751;
	color:#fff;
	padding:15px;
	outline: none;
	border:none;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 17px;
	margin-top:20px;
	cursor:pointer;
}
 input[type="submit"]{
	transition: 0.5s all;
	webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.register  input[type="submit"]:hover,.send-mail input[type="submit"]:hover {
	background-color:rgba(255, 193, 7, 0.66);
}
.send-mail textarea{
	width:95%;
	border:1px solid #000;
	resize:none;
	padding:10px;
	height:183px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 17px;
	border:none;
	letter-spacing:1px;
}

.sign-in{
	margin-bottom:20px;
}
.sign-in ul{
	float:left;
}
.sign-in  input[type="submit"] {
	float:right;
	background-color:rgba(255, 193, 7, 0.88);
	color:#fff;
	padding:7px 15px;
	outline: none;
	border:none;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 17px;
	cursor:pointer;
}
.sign-in  input[type="submit"]:hover{
	background-color:rgba(60, 151, 164, 0.55);
}
.recover{
	margin-bottom:20px;
}
.recover input.number{
	width: 86.5%;
	padding: 12px 10px 12px 45px;
	border: none;
	outline: none;
	border-radius: 3px;
	background: rgb(255, 255, 255) url("../../images/phone.png") no-repeat 10px 10px;
	font-size: 17px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	margin-bottom:20px;
	letter-spacing: 1px;
}
.recover input[type="submit"],.subscribe input[type="submit"]{
	background-color:#014751;
	color:#fff;
	padding:11px;
	outline: none;
	border:none;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 17px;
	width:44%;
	cursor:pointer;
}
.recover input[type="submit"]:hover,.subscribe input[type="submit"]:hover{
	background-color:rgba(255, 193, 7, 0.7);
}
input.done,input.no-thanks{
	margin-left:10%;
	background-color:rgba(255, 193, 7, 0.7)!important;
}
input.done:hover,input.no-thanks:hover{
	background-color:rgba(60, 151, 164, 0.55)!important;

}
.subscribe{
	margin-bottom:20px;
}
.socialicons{
	text-align:center;
}
.socialicons ul li{
	display:inline-block;
}
.socialicons ul li a{
	height:50px;
	width:50px;
    background:url('../../images/img-sprite.png') no-repeat 0px 0px;
	display:inline-block;
	border:none;
}
.socialicons ul li a:hover{
	transition: 0.5s all;
	webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.socialicons ul li a.twitter{
	background:url('../../images/img-sprite.png') no-repeat -50px 0px;
}
.socialicons ul li a.google{
	background:url('../../images/img-sprite.png') no-repeat -100px 0px;
}
.socialicons ul li a.pinterest{
	background:url('../../images/img-sprite.png') no-repeat -150px 0px;
}
.socialicons ul li a.linkedin{
	background:url('../../images/img-sprite.png') no-repeat -200px 0px;
}
.socialicons ul li a.facebook:hover{
	background:url('../../images/img-sprite.png') no-repeat 0px -50px;
}
.socialicons ul li a.twitter:hover{
	background:url('../../images/img-sprite.png') no-repeat -50px -50px;

}

.socialicons ul li a.google:hover{
	background:url('../../images/img-sprite.png') no-repeat -100px -50px;

}
.socialicons ul li a.pinterest:hover{
	background:url('../../images/img-sprite.png') no-repeat -150px -50px;

}
.socialicons ul li a.linkedin:hover{
	background:url('../../images/img-sprite.png') no-repeat -200px -50px;
}
.footer{
	margin-bottom:30px;
}
.footer p{
	text-align:center;
	color:#fff;
	font-size:14px;
	font-family: 'open sans', sans-serif;
}
.footer p a{
	color:#fff;
}
.footer p a:hover{
	text-decoration:underline;
}
/*--Responsive--*/
 @media (max-width:1440px){
	 .register, .send-mail, .sign-in, .recover, .subscribe, .socialicons {
		width: 81.5%;
	}
	input.name ,input.password ,input.email,input.location ,.recover input.number {
		width: 84.5%;
	}
	.send-mail textarea {
		width: 94%;
	}
}
@media (max-width:1366px){
	 .register, .send-mail, .sign-in, .recover, .subscribe, .socialicons {
		width: 80.5%;
	}
	input.name ,input.password ,input.email,input.location ,.recover input.number {
		width: 83.5%;
	}
	.send-mail textarea {
		width: 93.5%;
	}
}
@media (max-width: 1280px){
	.register, .send-mail, .sign-in, .recover, .subscribe, .socialicons {
		width: 79.5%;
	}
	input.name ,input.password ,input.email,input.location ,.recover input.number {
		width: 83%;
	}
	.send-mail textarea {
		width: 94%;
	}
}
@media (max-width: 1080px){
	.container {
		width: 70%;
	}
	.register, .send-mail, .sign-in, .recover, .subscribe, .socialicons {
		width: 77.5%;
	}
	input.name, input.password, input.email, input.location, .recover input.number {
		width: 80%;
	}
	.send-mail textarea {
		width: 92%;
	}

}
@media (max-width: 1024px){
	.register, .send-mail, .sign-in, .recover, .subscribe, .socialicons {
		width: 76.5%;
	}
	input.name, input.password, input.email, input.location, .recover input.number {
		width: 78.5%;
	}
	.send-mail textarea {
		width: 91.5%;
	}
}
@media (max-width: 991px){
	.container {
    width: 80%;
}
.register, .send-mail, .sign-in, .recover, .subscribe, .socialicons {
    width: 78.5%;
}
input.name, input.password, input.email, input.location, .recover input.number {
    width: 81%;
}
.send-mail textarea {
    width: 92.5%;
}
}
@media (max-width: 966px){
	input.name, input.password, input.email, input.location, .recover input.number {
		width: 80.5%;
	}
}
@media (max-width: 900px){
	.register, .send-mail, .sign-in, .recover, .subscribe, .socialicons {
		width: 76.5%;
	}
	input.name, input.password, input.email, input.location, .recover input.number {
		width: 78.5%;
	}
	.send-mail textarea {
		width: 91.5%;
	}
	.socialicons ul li a {
		height: 45px;
		width: 45px;
	}
}
@media (max-width: 800px){
	.register, .send-mail, .sign-in, .recover, .subscribe, .socialicons {
		width: 80.5%;
		padding:30px;
	}
	input.name, input.password, input.email, input.location, .recover input.number {
		width: 77%;
	}
	.send-mail textarea {
		width:91%;
		height: 139px;
	}
}
@media (max-width: 768px){
	h1 {
		font-size: 48px;
	}
	.register, .send-mail, .sign-in, .recover, .subscribe, .socialicons {
		width: 79.5%;
	}
	input.name, input.password, input.email, input.location, .recover input.number {
		width: 76%;
	}
	.send-mail textarea {
		width:90.5%;
	}
	.socialicons ul li a {
		height: 45px;
		width: 42px;
	}
}
@media (max-width: 736px){
	.left {
		width: 100%;
		margin-right: 0;
	}
	.register, .send-mail, .sign-in, .recover, .subscribe, .socialicons {
		width: 89.5%;
		padding:40px;
		margin-bottom:40px;
	}
	input.name, input.password, input.email, input.location, .recover input.number {
		width: 89.2%;
	}
	.send-mail textarea {
		width: 95.5%;
	}
	.right {
		width: 100%;
	}
	.socialicons {
    margin-bottom: 0px;
	}
	.socialicons ul li a {
		height: 45px;
		width: 55px;
	}
}
@media (max-width: 667px){
	h1 {
		font-size: 42px;
	}
	.container {
		width: 65%;
	}
	.register, .send-mail, .sign-in, .recover, .subscribe, .socialicons {
		width: 80.5%;
		padding: 40px;
		margin-bottom: 40px;
	}
	input.name, input.password, input.email, input.location, .recover input.number {
		width: 84%;
	}
	.send-mail textarea {
		width: 93.5%;
	}
	.socialicons {
    margin-bottom: 0px;
	}
}
@media (max-width: 640px){
	input.name, input.password, input.email, input.location, .recover input.number {
		width: 83%;
	}

}
@media (max-width: 600px){
	.register, .send-mail, .sign-in, .recover, .subscribe, .socialicons {
		width: 79%;
	}
	input.name, input.password, input.email, input.location, .recover input.number {
		width: 81%;
	}
	.send-mail textarea {
		width: 92.5%;
	}

}
@media (max-width: 568px){
	.register, .send-mail, .sign-in, .recover, .subscribe, .socialicons {
		width: 78%;
	}
	input.name, input.password, input.email, input.location, .recover input.number {
		width: 80%;
	}
	.socialicons ul li a {
		height: 45px;
		width: 50px;
	}

}
@media (max-width: 480px){
	h1 {
		font-size: 34px;
	}
	.container {
		width: 70%;
	}
	.register, .send-mail, .sign-in, .recover, .subscribe, .socialicons {
		width: 82%;
		padding:30px;
	}
	input.name, input.password, input.email, input.location, .recover input.number {
    width: 79%;
}
.send-mail textarea {
    width: 92%;
}
.socialicons ul li a {
    height: 45px;
    width: 44px;
}
}
@media (max-width: 414px){
	.container {
		width: 83%;
		margin:30px auto;
	}
	h1{
		margin:30px 0px;
	}
}
@media (max-width: 384px){

	.container {
		width: 89%;
	}
	input.name, input.password, input.email, input.location, .recover input.number {
		width: 78%;
	}
	.register input[type="submit"].send-mail input[type="submit"] ,.sign-in input[type="submit"]{
		padding:10px;
	}
	.socialicons ul li a {
		height: 45px;
		width: 42.2px;
		background: url('../../images/img-sprite.png') no-repeat -7px 0px;
	}
	.socialicons ul li a.twitter {
		background: url('../../images/img-sprite.png') no-repeat -53px 0px;
	}
	.socialicons ul li a.google {
		background: url('../../images/img-sprite.png') no-repeat -103px 0px;
	}
	.socialicons ul li a.pinterest {
		background: url('../../images/img-sprite.png') no-repeat -153px 0px;
	}
	 .socialicons ul li a.linkedin {
		background: url('../../images/img-sprite.png') no-repeat -203px 0px;
	}
	.socialicons ul li a.facebook:hover{
		background: url('../../images/img-sprite.png') no-repeat -3px -50px;
	}
	.socialicons ul li a.twitter:hover{
		background: url('../../images/img-sprite.png') no-repeat -53px -50px;
	}
	.socialicons ul li a.google:hover {
		background: url('../../images/img-sprite.png') no-repeat -103px -50px;
	}
	.socialicons ul li a.pinterest:hover {
		background: url('../../images/img-sprite.png') no-repeat -153px -50px;
	}
	 .socialicons ul li a.linkedin:hover{
		background: url('../../images/img-sprite.png') no-repeat -203px -50px;
	}  	
}
@media (max-width: 375px){
	.container {
    width: 85%;
}
	.register, .send-mail, .sign-in, .recover, .subscribe, .socialicons {
    width: 84%;
    padding: 25px;
}
}
@media (max-width: 320px){
	h1 {
		font-size: 28px;
	}
	.container h3 {
		font-size: 25px;
	}
	.register, .send-mail, .sign-in, .recover, .subscribe, .socialicons {
		padding: 20px;
	}
	input.name, input.password, input.email, input.location, .recover input.number {
		width: 74%;
	}
	.send-mail textarea {
		width: 90%;
	}
	.socialicons ul li a {
		height: 45px;
		width: 39.2px;
	}
}